* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #85E7F2;
    font-family: "Roboto", sans-serif;
}

.chat_box{
    position: absolute;
    width: calc(100% - 20px);
    max-width: 800px;
    height: 500px;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    background-color: #f8f8f8;
    overflow: hidden;
}

.top_menu {
    background-color: #fff;
    width: 100%;
    padding: 20px 0 15px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.top_menu .title {
    text-align: center;
    color: black;
    font-size: 25px;
}

.chats {
    position: relative;
    list-style: none;
    padding: 20px 10px 0 10px;
    margin-left: 20px;
    height: 350px;
    overflow: scroll;
}

.chats .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 50px;
    transition: all 0.5s linear;
    opacity: 0;
}

.bottom_wrapper {
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 10px 10px;
    position: absolute;
    bottom: 0;
    text-decoration: none ;
}

.bottom_wrapper .message_box_wrapper {
    display: inline-block;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #bcbdc0;
    width: calc(100% - 140px);
    position: relative;
    padding: 0 20px;
}


input:focus{
    outline: none;
}

.bottom_wrapper .message_box_wrapper .message_input {
    border: none;
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 40px);
    position: relative;
    outline-width: 0;
    color: gray;
}

.bottom_wrapper .send_button {
    width: 135px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;
    background-color: #a3d063;
    border: 2px solid #a3d063;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
    text-align: center;
    float: none;
}

.bottom_wrapper .send_button:hover {
    color: #a3d063;
    background-color: #fff;
}

.bottom_wrapper .send_button .text {
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    line-height: 48px;
}
  
.chats > li {
    font-size: 20px;
    color: #7F25D9;
    border-radius: 5px;
    width: fit-content;
}
  
.chats > span {
    font-size: 15px;
    font-style: italic;
}